@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    @Html.Raw(Model.Text)
</div>
<div>
    <a asp-area="User" asp-controller="Support" asp-action="WriteMessage">Contact with admin</a>
</div>