@model IQueryable<FeedbackViewModel>
@{
    string strTitle = "Messages";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        @if (Model.Any())
        {
            <div>
                @foreach (var entity in Model)
                {
                    <div>
                        <form style="display: inline-block;" id="form-@entity.FeedbackId" asp-area="User" asp-controller="ResultReview" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@entity.FeedbackId" />
                            <a href="#" onclick="document.getElementById('form-@entity.FeedbackId').submit();">Delete</a>
                        </form>
                        <span style="margin-left: 5px">Title: </span>
                        <a style="margin-left: 3px" asp-area="User" asp-controller="ResultReview" asp-action="Index" asp-route-id="@entity.FeedbackId">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>