@model IQueryable<NewsItem>

<div class="div-box" style="margin-bottom: 30px">
    <a style="float: left" asp-area="User" asp-controller="SendReview" asp-action="Send">Send your news for review</a>
    <a style="float: right" asp-area="User" asp-controller="ResultReview" asp-action="Index">Check results of reviews</a>
</div>

<div>
    @if (Model.Any() && Model != null)
    {
        <ul class="big-image-list">
            @foreach (NewsItem entity in Model.OrderByDescending(x => x.DateAdded))
            {
                <li>
                    <h2>@Html.Raw(entity.Title)</h2>
                    <div>@Html.Raw(entity.Text)</div>
                </li>
                <hr />
            }
        </ul>
    }
</div>