@model IQueryable<ReviewViewModel>
@{
    string strTitle = "Reviews";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        @if (Model.Any())
        {
            <div>
                @foreach (var entity in Model)
                {
                    <div>
                        <span style="margin-left: 5px">Title: </span>
                        <a style="margin-left: 3px" asp-area="Admin" asp-controller="ReviewItems" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>
                        <span style="margin-left: 10px">(Sender: @entity.UserName)</span>
                    </div>
                }
            </div>
        }
    </div>
</div>